<%- model_class = Question -%>
  <h1><%=t '.title'%></h1>
<ul>
    <% @questions.each do |question| %>
          <a href="<%=question_path(question) %>">
            <h3><%=  question.title %></h3>
          </a>

          <%= question.content %>
          <hr>
          Post <%= time_ago_in_words(question.created_at) %> ago


  <% end %>
</ul>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="questions?search=<%=params[:search]%>"> Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
