<%= form_for [@commentable, @comment], :html => { :class => "form-horizontal question" } do |f| %>
  <% if @comment.errors.any? %>
    <h2><%= @comment.errors.count%> error prohibited this answer from being saved:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.text_area :content, class: 'form-control' %>
  <%= f.submit %>
<% end %>
<br>

