
<h6><%= @commentable.comments.count %> comments</h6>
<hr>

<% commentable.comments.each do |comment| %>
  <%= simple_format(comment.content) %>
    <h6 style='text-align: right'><%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %></h6>
  <% if logged_in? && comment.user_id == current_user.id %>
      <h6 style='text-align: right'><%= link_to "Destroy", [@commentable, comment], method: :delete %></h6>
    <%end %>
  <hr>
<% end %>
