
    <h6>Created by <%= answer.user.name %></h6>
    <%= time_ago_in_words(answer.created_at)%>
    <p><%= answer.content %></p>
    <%#= render template: "comments/new" %>
    <%#= render partial: "comments/index", locals: {commentable: @answer} %>

<br>
      <% if logged_in? %>
      <%= render 'answers/upvote_link/', answer: answer%>
       <%= answer.cached_votes_score %>
<br>
    <%= render 'answers/downvote_link', answer: answer %>

      <% else %>
  <%= answer.cached_votes_score %> upvotes

  <% end %>
        <h6><%= link_to 'Show', answer %></h6>
 <hr>


<br>

