<p>
  <strong>Content:</strong>
  <br>
  <%= @answer.content %>
</p>
<%= @answer.cached_votes_score %> upvotes
<h6>Created by <%= @answer.user.name %> <%= time_ago_in_words(@answer.created_at)%></h6>

<% if logged_in? %>
  <%= render template: "comments/new" %>
<% end %>

<% if logged_in? && @answer.user.id == current_user.id %>
  <h6><%= link_to 'Edit', edit_answer_path(@answer) %></h6>
  <h6><%= link_to 'Destroy', @answer, method: :delete, data: { confirm: 'Are you sure?' } %></h6>
<% end %>

<%= render partial: "comments/index", locals: {commentable: @answer} %>


