<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class: "navbar-brand">
      <%= link_to image_tag("Stack_Overflow_icon.svg", alt: "logo", class: "d-inline-block align-text-top", width: "40"), "/" %>
      <%= link_to "FlowOverStack", root_path, id: "logo",class: "navbar-brand mb-0 h1" %>
    </a>
      <form class="d-flex">
      <%= text_field_tag :search, params[:search], class: "form-control me-2" %>
      <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <% if logged_in? %>
      <form class="d-flex">
      <li><%= link_to (button_tag "New Question", type: 'button', class: "btn btn-outline-primary "), new_question_path %></li>
      </form>
      <% end %>
      <% unless logged_in? %>
      <form class="justify-content-start">
          <%= link_to "Sign in", login_path , class: "btn btn-sm btn-outline-secondary me-2" %>
          <%= link_to "Sign up", signup_path , class: "btn btn-sm btn-outline-secondary me-2" %>
      </form>
      <% end %>
                <% if logged_in? %>
                  <div class="dropdown ">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= current_user.name %>
                  </a>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
                    <li><%= link_to 'Edit Account', edit_user_path(current_user), class: "dropdown-item" %></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to 'Log out', logout_path, method: :delete, class: "dropdown-item" %></li>

                  </ul>
                  </div>
                <% end %>

   </div>
</nav>











